

<!-- base  navbar -->
<div class="w-[100vw] flex justify-between px-10 items-center bg-black py-3">
    <a class="text-white no-underline" routerLink="/home">CRUD</a> 
    <div class="flex gap-10">
    <a class="text-white no-underline" routerLink="/post-list">Home</a>
    <a class="text-white no-underline" routerLink="/post-add"> Create Post</a>
    </div>
    <div class="flex gap-10">
    <a class="text-white no-underline" routerLink="/signup"> Sign up</a>
    <a class="text-white no-underline" routerLink="/login"> Log in</a>
    </div>

</div>