<!-- forms to create a new post -->
<h1 class="text-center text-3xl w-[95vw]" *ngIf="editMode == false">Create Post</h1>
<h1 class="text-center text-3xl w-[95vw]" *ngIf="editMode == true">Edit Post</h1>
<div class="flex justify-center items-center w-[95vw] h-[80vh]">
  <div class="bg-blue-300 px-20 py-10">
<form  (ngSubmit)="onsubmit()" [formGroup]="form">
    <div class="">
      <div class="">
        <label for="title">Title</label>
    <input type="email" class="w-full border-b-2 border-blue-900 bg-transparent outline-none mb-3" id="title" placeholder="" formControlName="title">
      </div>
      <div class="">
        <label for="image">Image</label>
        <input type="text" class="w-full border-b-2 border-blue-900 bg-transparent outline-none mb-3" id="image" placeholder="" formControlName="imgPath">
        <img src="{{form.value.imagPath}}" alt="">
      </div>
    </div>
    <div class="">
      <label for="description">Description</label>
      <input type="text" class="w-full border-b-2 border-blue-900 bg-transparent outline-none mb-3" id="description" placeholder="" formControlName="description">
    </div>
    
    
    <button type="submit" class="" [disabled]="form.invalid">Save</button> |
    <button type="reset"  class="" routerLink="/home">Cancel</button>
    </form>
  </div>
</div>