<form [formGroup]="signupForm" (ngSubmit)="signup()">
  <div class="flex justify-center items-center w-[95vw] h-[80vh]">
  <div class="bg-blue-300 px-20 py-20">
    <div class="">
      <label class="form-label" for="name">Name</label><br>
      <input type="name" id="name" class="border-b-2 border-blue-900 bg-transparent outline-none mb-3" formControlName="displayName" />
    </div>
  
  <div class="">
    <label class="form-label" for="form2Example1">Email address</label><br>
    <input type="email" id="form2Example1" class="border-b-2 border-blue-900 bg-transparent outline-none mb-3" formControlName="email" />
  </div>

  <div class="">
    <label class="form-label" for="form2Example2">Password</label><br>
    <input type="password" id="form2Example2" class="border-b-2 border-blue-900 bg-transparent outline-none mb-3" formControlName="password" />
  </div>

<div class="text-center">
  <button type="submit" class="bg-blue-900 px-6 py-2 text-white rounded-md">Sign up</button>
</div>
    </div>
</div>
</form>
